{{#>layout}}
{{#*inline "content"}}

<h1>Password reset request</h1>

<p>
    We received a request to reset your password for
    <a href="{{APP_URL}}">Interval</a>.
</p>

<p>
    If you made this request, please click the button below to reset your password.
    If you did not make this request, you can safely ignore this email.
</p>

{{> actionButton url=resetUrl label='Reset password' }}

{{/inline}}
{{/layout}}
